<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>


      <h1><%= `${user.username}'s profile` %></h1>

      <hr>
      <!-- Put in a block here for upgrading the account -->
      <% if (currentUser.id === user.id && (currentUser.role == 0 || currentUser.role == null)) { %>
        <p>
            You have a <strong>Standard Account</strong>. Upgrade today to create private wikis.
        </p>
        <!-- <a href="/users/<%= currentUser.id %>/upgrade_page"
            class="btn btn-primary btn-lg">Upgrade</a> -->
            <p>Test card info:</p>
                <p>Enter 4242 4242 4242 4242 for the card number</p>
                <p >Enter any expiration date in the future</p>
                <p>Enter any 3 digit code for the  CVV</p>
               
                <form action="/users/<%=currentUser.id%>/upgrade" method="POST">
                  <script
                      src="https://checkout.stripe.com/checkout.js"
                      class="stripe-button"
                      data-amount="1500"
                      data-key="pk_test_dNWpiU0irsAD41zhipxim6Px00aGKRaxi4"
                      data-name="Blocipedia"
                      data-description="Blocipedia Premium Account"
                      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                      data-locale="auto"
                  ></script>
              </form>
              <hr>

              <!-- downgrade user -->
        <% } if (currentUser.role == "1") { %>
        <p>
            You have a <strong>Premium Account</strong>. Downgrade at any
            time by clicking below.
        </p>
        <form action="/users/<%=currentUser.id%>/downgrade" method="POST">
          <button type="submit" class="btn btn-danger">Downgrade account</button>
      </form>

           <!-- show admin user -->
        <% } if (currentUser.role == "2") { %>
        <p>You are an <strong>Administrator</strong>.</p>
        <% } %>
    
       



      <h2> Latest Wikis</h2>
      <ul class="list-unstyled">
        <% if(wikis) { %>
          <% wikis.forEach((wiki) => { %>
            <li>
              <a href="/wikis/<%= wiki.id %>">
                <%= wiki.title %>
              </a>
            </li>
          <% }) %>
        <% } %>
      </ul>
      <hr>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>